
.about {
    position: relative;
    display: block;
    text-align: left;
}

.about img {
    max-width: 25%;
    height: auto;
    margin: 0 4vw 1vh 2.5vw;
    outline: 0.4vh solid white;
    outline-offset: -0.2vh;
    border-radius: 0.25vw;
    float: right;
}